/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.0001s linear;
  }
}

.App-header {
  background-color: #102b61;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(249, 9, 9);
}

.App-link {
  color: #8f0cfa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(150deg);
  }
  to {
    transform: rotate(180deg);
  }
} */
.test1{
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
